/******** GLOBAL STYLES ********/
html {
  font-size: 16px;
}

.body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 0.75em;
}

p {
  line-height: 36px;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
  /* height: 110px; */
  display: flex;
  justify-content: center;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 38px 0;
  width: 100%;
}

header h1 span {
  color: #45610e;
}

header nav {
  padding: 20px 0;
  border-top: 5px solid #77a466;
  width: 100%;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  color: #45610e;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */
.main-image img {
  width: 100%;
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

.main-title h2 {
  color: #45610e;
  padding: 5px 0;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
}

.bottom-section .content-wrapper {
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
}

.section-one,
.section-two,
.section-three {
  box-sizing: border-box;
  padding: 0 40px 0 5px;
  width: 100%;
}

/* .section-one {
  width: 29%;
} */

.section-two {
  /* width: 42%; */
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
}

/* .section-three {
  width: 29%;
} */

.bottom-section h3 {
  margin: 30px 0 0 0;
}

.menu-list {
  padding: 0;
  list-style: none;
}

.menu-list li {
  color: #45610e;
  font-size: 1rem;
  line-height: 36px;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
  text-align: center;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

footer span {
  font-family: "Galada", cursive;
  text-transform: lowercase;
  color: #45610e;
  font-size: 0.875rem;
}

/* Media Queries for Tablet and Desktop */

@media screen and (min-width: 768px) {
  .section-one,
  .section-two,
  .section-three {
    padding: 0 40px;
  }

  .bottom-section h3 {
    margin: 30px 0;
  }

  .menu-list {
    padding-left: 0;
  }
}

@media screen and (min-width: 1281px) {
  .body {
    margin: 0 auto;
  }
}
